{% include 'base.html' %}

{% block extra_stylesheets %} 
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>


{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12 center">
      <div id="container" class="container" style="height: 80vh; min-width: 310px">

        <h1>House Temperature</h1>

      </div>
    </div>
  </div>
  <!-- <div id="container" style="height: 400px; min-width: 310px"></div> -->
{% endblock %}


{% block extra_javascripts %} 
<script>
$.getJSON('temperatureSeries', function (dataRaw) {
    var data = []
    var maxT, minT = 50
    dataRaw.forEach(function(d) {
      data.push([d.timestamp,d.temperature])
      if (d.temperature > maxT) {
        maxT = d.temperature
      }
       if (d.temperature < minT) {
        minT = d.temperature
      }
    })
    // Create the chart
    Highcharts.stockChart('container', {


        rangeSelector: {
            selected: 1
        },

        title: {
            text: '339 Victoria Park House temp'
        },
        yAxis: {
        min: minT - 2
      },
        series: [{
            name: 'Temperature',
            data: data,
            tooltip: {
                valueDecimals: 2
            },

            type: 'areaspline',
            fillColor: {
                linearGradient: {
                    x1: 0,
                    y1: 0,
                    x2: 0,
                    y2: 1
                },
                stops: [
                    [0, Highcharts.getOptions().colors[8]],
                    [0.4, Highcharts.getOptions().colors[8]],
                    [0.5, Highcharts.getOptions().colors[6]],
                    [0.6, Highcharts.getOptions().colors[0]],
                    [1, Highcharts.getOptions().colors[0]]
                ]
            }
        }]
    });
});
</script>

{% endblock %}